@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --primary-color: black;
    --secondary-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    align-self: flex-start;
    padding: 10px 20px;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

#content {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-rows: 6vh 94vh;
    grid-template-columns: 1fr;
}

/* Nav Bar */

.nav-bar {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
}

.nav-bar li {
    padding: 0 60px;
}

.nav-bar li span {
    color: var(--secondary-color);
}

.nav-bar li span:hover {
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
}

/* Home Page */

.home-main > div {
    box-sizing: inherit;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main img {
    box-sizing: inherit;
    width: 60vw;
}

.home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.home-intro p {
    margin: 10px 0;
}

.home-intro p:first-of-type {
    font-size: 48px;
    font-weight: bold;
}

.home-intro button {
    margin-top: 10px;
}

/* Contact Page */

.contact-main {
    background: url('./contact-bg.jpg');
    background-size: cover;
}

.contact-form {
    width: 350px;
    height: min-content;
    margin: auto;
    padding: 30px 75px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-form input, 
.contact-form textarea {
    appearance: none;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 20px;
}

.contact-form input {
    border: 1px solid black;
}

.contact-form div {
    display: flex;
    flex-direction: column;
}

.contact-form h1,
.contact-form p {
    text-align: center;
    margin: 0 0 20px;
}

.contact-form button {
    display: block;
    margin: 0 auto;
}

.contact-form textarea {
    resize: vertical;
    overflow: auto;
}

.contact-msg {
    text-align: center;
}

/* Menu Page */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.menu {
    height: min-content;
    width: 70vw;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px 10px;
    grid-auto-rows: max(250px);
}

.menu-item {
    box-sizing: border-box;
}

.menu-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.menu-item img {
    height: 90%;
    width: 100%;
}